.flag{
    width: 900px;
    height: 600px;
    background-color: #CE1126;
    position: relative;
}

.flag > div{
    width: 100%;
    height: 300px;
    background-color: #002686;
    position:absolute;
    top: 25%;

}

.flag > div > div{
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    top: 50px;
    left: 350px;


}

p{
    margin: 0%;
    font-size: 5rem;

    text-align: center;
    color: white;
}

body > div> div> div> p{
    color: black;
}